.headline{
  width: 260px;
  padding: 10px 0;
  font-weight: bold;
  font-family: Meiryo;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background: #000000;
  margin: 18px 0 7px;
}