.l-header{
  background: #ffffff;
  width: 1040px;
  padding: 0 20px;
  margin: auto;
  .wrap{
    .header-top-bar{
      font-family: Meiryo;
      font-size: 13.66px;
      line-height: 17.61px;
      color: #ffffff;
      background: #1C5194;
      text-align: right;
      padding: 3px 10px 4px 0;

    }
    .header-top-banner{
      margin: 5px 0 9px;
      @include clearfix;
      a{
        float: left;
        display: inline-block;
        &:nth-child(2){
          margin: 13px 17px 0 63px;
        }
        &:last-child{
          margin: 15px 0 0;
        }
      }
    }
    .header-flow{
      background: url("assets/img/layout/header/header_flow_bg.jpg");
      @include border-radius(5px);
      width: 1040px;
      padding: 4px 0;
      border: 1px solid #6098e2;
      @include clearfix;
      ul{
        li{
          float: left;
          position: relative;
         div{
           padding:0 5.5px;
           width: 249px;
           cursor: pointer;
         }
         .arrow{
           width: 25px;
           height: 28px;
           background: url("assets/img/layout/header/header_arrow.png") no-repeat;
           position: absolute;
           right: -23px;
           bottom: 10px;
           z-index: 2;
         } 
        }
      }
    }
  }
}
.l-banner{
  width: 1040px;
  margin:0 auto;
  padding:20px 20px 15px;
  background: #ffffff;
}
.l-navi{
  background: #ffffff;
  width: 1040px;
  margin:0 auto;
  padding: 0 20px 20px;
  ul{
    @include clearfix;
    li{
      float: left;
    }
  }
}
.l-content{
  padding:0 20px;
  background: #ffffff;
  width: 1040px;
  margin: auto;
  @include clearfix;
  .l-sidebar{
    width: 260px;
    float: left;
    .contact-title{
      @extend .headline-three;
      margin: 14px 0 7px;
    }
    .side-contact{
      margin:0 0 18px;
      padding: 11px 7px 4px 7px;
      border: 1px solid #999999;
      .contact-detail{
        .side-tel{
          display: block;
          margin: 0 0 0 5px;
        }
        .contact-button{
          margin: 10px 0 0;
          @include clearfix;
          img{
            float: left;
            margin: 0 4px 0 0;
            &:last-child{
              margin: 0;
            }
          }
        }
        .contact-text{
          font-size: 12px;
          line-height: 16px;
          color: #292929;
          background: #ececec;
          font-family: Meiryo;
          padding: 8px 0 12px 6px;
          margin: 7px 3px 0 0;
        }
      }
    }
    .side-flow{
      background: url("assets/img/layout/sidebar/side_step_bg.png");
      padding: 9px 10px 7px;
      @include border-radius(5px);
      border: 1px solid #6098e2;
      @include clearfix;
      img{
        float: left;
        margin: 1px 0 2px;
        cursor: pointer;
      }
    }
    .side-strengths{
      margin: 18px 0;

      ul{
        li{
          border: 1px solid #999999;
          border-bottom: none;
          padding: 12px 0 11px 12px;
          text-indent: 24px;
          background: url("assets/img/layout/sidebar/side_list.png") no-repeat;
          background-position: 12px;
          &:first-child{
            background: #d4d4d4 url("assets/img/layout/sidebar/side_list.png") no-repeat;
            background-position: 12px;

          }
          &:last-child{
            border-bottom: 1px solid #999999;
          }
          a{
            font-family: Meiryo;
            font-size: 14px;
            line-height: 20px;
            color: #292929;
            text-decoration: none;
          }
        }
      }
    }
    .side-strong-point{
      margin: 0 0 18px;
      width: 260px;
      position: relative;
      height: 349px;
      background: url("assets/img/layout/sidebar/side_strong_point_bg.png");
      a img{
        position: absolute;
        bottom: 9px;
        left: 8px;
      }
    }
  }
  .l-top-content{
    width: 760px;
    float: left;
    padding: 0 0 0 20px;
    .top-strength{
      margin: 31px 0 0;
    }
    .top-headline{
      margin: 35px 0 20px;
      border-bottom: 5px solid #1c5094;
      h2{
        @extend .headline-two;
      }
    }
    .top-trouble{
      margin: 19px 0 0 0;
      width: 760px;
      height: 396px;
      background: url("assets/img/top/top_trouble.png");
      ul{
        padding: 20px 0 0 13px;
        li{
          font-family: Meiryo;
          font-size: 18px;
          line-height: 30px;
          font-weight: bold;
          color: #154a91;
          padding: 0 0 0 36px;
          background: url('assets/img/top/top_trouble_icon.png') no-repeat;
          p{
            font-size: 14px;
            color: #292929;
            line-height: 11px;
            padding: 0 0 12px;
          }
        }
      }
    }
    .top-plastic-process{
      .top-plastic-text{
        position: relative;
        margin: 18px 0 0;
        p{
          margin: 0 0 15px;
          @extend .normal-text;
        }
        ul{
          margin: 0 0 15px;
          li{
            line-height: 19px;
            @extend .normal-text;
            &::before{
              content: '\00b7';
              font-weight: bold;
              font-size: 20px;
              font-family: helvetica, arial;
            }
          }
        }
        img{
          position: absolute;
          top:0;
          right: 0;
        }
      }
      
    }
    .top-comments{
      p{
        @extend .normal-text;
      }
    }
    .top-posts{
      .top-headline{
        margin: 30px 0 10px;
      }
      dl{
        @include clearfix;
        height: 140px;
        overflow-y: scroll;
        dt{
          float: left;
          padding: 10px 10px 16px;
          @extend .normal-text;
          border-bottom: 1px dotted #7f7f7f;
        }
        dd{
          float: left;
          color: #1c5094;
          @extend .normal-text;
          width: 620px;
          padding: 10px 10px 16px;
          border-bottom: 1px dotted #7f7f7f;
        }
      }
    }
    .top-go-to-top{
      margin: 48px 0 10px;
      text-align: right;
      a {
        @extend .normal-text;
        color: #1c5094;
        text-decoration: underline;
      }

    }
  }
}
.l-footer{
  .wrap{
    background: #fff;
    width: 1040px;
    padding: 0 20px;
    margin: auto;
    .footer-menu-list{
      margin:15px auto 0;
      width: 1040px;
      padding: 0 0 10px;
      ul{
        @include clearfix;
        text-align: center;
        width: 635px;
        margin: auto;
        li{
          display: inline-block;
          padding: 0 0 0 20px;
          background: url("assets/img/layout/footer/footer_list.png") no-repeat;
          background-position: 0 7px;
          -webkit-background-size: 12px;
          background-size: 12px;
          a{
            font-size: 12.14px;
            line-height: 30px;
            font-family: Meiryo;
            color: #292929;
            text-decoration: none;
          }
        }
      }
    }
  }
  p{
    text-align: center;
    background: #1c5094;
    padding: 8px 0;
    font-size: 13.66px;
    line-height: 17.62px;
    color: #ffffff;
    font-family: Meiryo;
  }
}