html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*======================
BASE
=====================*/
body {
  background: url("assets/img/body_bg.png");
}

/*======================
GENERAL
=====================*/
.headline-two, .l-content .l-top-content .top-headline h2 {
  font-family: Meiryo;
  border: 1px solid #d8d8d8;
  text-indent: 22px;
  font-size: 18.21px;
  color: #1c5094;
  padding: 16px 0 13px 11px;
  background: url("assets/img/top/top_headline_bg.png") no-repeat;
  background-position: 10px center;
}

.headline-three, .l-content .l-sidebar .contact-title {
  width: 260px;
  padding: 8px 0;
  font-weight: bold;
  font-family: Meiryo;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background: #000000;
  margin: 18px 0 7px;
}

.normal-text, .l-content .l-top-content .top-plastic-process .top-plastic-text p, .l-content .l-top-content .top-plastic-process .top-plastic-text ul li, .l-content .l-top-content .top-comments p, .l-content .l-top-content .top-posts dl dt, .l-content .l-top-content .top-posts dl dd, .l-content .l-top-content .top-go-to-top a {
  font-size: 14px;
  line-height: 20px;
  font-family: Meiryo;
  color: #292929;
}

/*======================
LAYOUT
=====================*/
.l-header {
  background: #ffffff;
  width: 1040px;
  padding: 0 20px;
  margin: auto;
}
.l-header .wrap .header-top-bar {
  font-family: Meiryo;
  font-size: 13.66px;
  line-height: 17.61px;
  color: #ffffff;
  background: #1C5194;
  text-align: right;
  padding: 3px 10px 4px 0;
}
.l-header .wrap .header-top-banner {
  margin: 5px 0 9px;
  overflow: hidden;
  *zoom: 1;
}
.l-header .wrap .header-top-banner a {
  float: left;
  display: inline-block;
}
.l-header .wrap .header-top-banner a:nth-child(2) {
  margin: 13px 17px 0 63px;
}
.l-header .wrap .header-top-banner a:last-child {
  margin: 15px 0 0;
}
.l-header .wrap .header-flow {
  background: url("assets/img/layout/header/header_flow_bg.jpg");
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 1040px;
  padding: 4px 0;
  border: 1px solid #6098e2;
  overflow: hidden;
  *zoom: 1;
}
.l-header .wrap .header-flow ul li {
  float: left;
  position: relative;
}
.l-header .wrap .header-flow ul li div {
  padding: 0 5.5px;
  width: 249px;
  cursor: pointer;
}
.l-header .wrap .header-flow ul li .arrow {
  width: 25px;
  height: 28px;
  background: url("assets/img/layout/header/header_arrow.png") no-repeat;
  position: absolute;
  right: -23px;
  bottom: 10px;
  z-index: 2;
}

.l-banner {
  width: 1040px;
  margin: 0 auto;
  padding: 18px 20px;
  background: #ffffff;
}

.l-navi {
  background: #ffffff;
  width: 1040px;
  margin: 0 auto;
  padding: 0 20px 16px;
}
.l-navi ul {
  overflow: hidden;
  *zoom: 1;
}
.l-navi ul li {
  float: left;
}

.l-content {
  padding: 0 20px;
  background: #ffffff;
  width: 1040px;
  margin: auto;
  overflow: hidden;
  *zoom: 1;
}
.l-content .l-sidebar {
  width: 260px;
  float: left;
}
.l-content .l-sidebar .contact-title {
  margin: 14px 0 7px;
}
.l-content .l-sidebar .side-contact {
  margin: 0 0 18px;
  padding: 11px 7px 4px 7px;
  border: 1px solid #999999;
}
.l-content .l-sidebar .side-contact .contact-detail .side-tel {
  display: block;
  margin: 0 0 0 5px;
}
.l-content .l-sidebar .side-contact .contact-detail .contact-button {
  margin: 10px 0 0;
  overflow: hidden;
  *zoom: 1;
}
.l-content .l-sidebar .side-contact .contact-detail .contact-button img {
  float: left;
  margin: 0 4px 0 0;
}
.l-content .l-sidebar .side-contact .contact-detail .contact-button img:last-child {
  margin: 0;
}
.l-content .l-sidebar .side-contact .contact-detail .contact-text {
  font-size: 12px;
  line-height: 16px;
  color: #292929;
  background: #ececec;
  font-family: Meiryo;
  padding: 8px 0 12px 6px;
  margin: 7px 3px 0 0;
}
.l-content .l-sidebar .side-flow {
  background: url("assets/img/layout/sidebar/side_step_bg.png");
  padding: 9px 10px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #6098e2;
  overflow: hidden;
  *zoom: 1;
}
.l-content .l-sidebar .side-flow img {
  float: left;
  margin: 1px 0 2px;
  cursor: pointer;
}
.l-content .l-sidebar .side-strengths {
  margin: 18px 0;
}
.l-content .l-sidebar .side-strengths ul li {
  border: 1px solid #999999;
  border-bottom: none;
  padding: 12px 0 11px 12px;
  text-indent: 24px;
  background: url("assets/img/layout/sidebar/side_list.png") no-repeat;
  background-position: 12px;
}
.l-content .l-sidebar .side-strengths ul li:first-child {
  background: #d4d4d4 url("assets/img/layout/sidebar/side_list.png") no-repeat;
  background-position: 12px;
}
.l-content .l-sidebar .side-strengths ul li:last-child {
  border-bottom: 1px solid #999999;
}
.l-content .l-sidebar .side-strengths ul li a {
  font-family: Meiryo;
  font-size: 14px;
  line-height: 20px;
  color: #292929;
  text-decoration: none;
}
.l-content .l-sidebar .side-strong-point {
  margin: 0 0 18px;
  width: 260px;
  position: relative;
  height: 349px;
  background: url("assets/img/layout/sidebar/side_strong_point_bg.png");
}
.l-content .l-sidebar .side-strong-point a img {
  position: absolute;
  bottom: 9px;
  left: 8px;
}
.l-content .l-top-content {
  width: 760px;
  float: left;
  padding: 0 0 0 20px;
}
.l-content .l-top-content .top-strength {
  margin: 31px 0 0;
}
.l-content .l-top-content .top-headline {
  margin: 35px 0 20px;
  border-bottom: 5px solid #1c5094;
}
.l-content .l-top-content .top-trouble {
  margin: 19px 0 0 0;
  width: 760px;
  height: 396px;
  background: url("assets/img/top/top_trouble.png");
}
.l-content .l-top-content .top-trouble ul {
  padding: 20px 0 0 13px;
}
.l-content .l-top-content .top-trouble ul li {
  font-family: Meiryo;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #154a91;
  padding: 0 0 0 36px;
  background: url("assets/img/top/top_trouble_icon.png") no-repeat;
}
.l-content .l-top-content .top-trouble ul li p {
  font-size: 14px;
  color: #292929;
  line-height: 11px;
  padding: 0 0 12px;
}
.l-content .l-top-content .top-plastic-process .top-plastic-text {
  position: relative;
  margin: -3px 0 0;
}
.l-content .l-top-content .top-plastic-process .top-plastic-text p {
  margin: 0 0 15px;
}
.l-content .l-top-content .top-plastic-process .top-plastic-text ul {
  margin: 0 0 15px;
}
.l-content .l-top-content .top-plastic-process .top-plastic-text ul li {
  line-height: 19px;
}
.l-content .l-top-content .top-plastic-process .top-plastic-text ul li::before {
  content: '\00b7';
  font-weight: bold;
  font-size: 20px;
  font-family: helvetica, arial;
}
.l-content .l-top-content .top-plastic-process .top-plastic-text img {
  position: absolute;
  top: 0;
  right: 0;
}
.l-content .l-top-content .top-comments {
  margin: 0 0 -15px;
}
.l-content .l-top-content .top-comments p {
  padding: 0 0 19px;
}
.l-content .l-top-content .top-posts .top-headline {
  margin: 30px 0 10px;
}
.l-content .l-top-content .top-posts dl {
  overflow: hidden;
  *zoom: 1;
  height: 140px;
  overflow-y: scroll;
}
.l-content .l-top-content .top-posts dl dt {
  float: left;
  padding: 10px 10px 16px;
  border-bottom: 1px dotted #7f7f7f;
}
.l-content .l-top-content .top-posts dl dd {
  float: left;
  color: #1c5094;
  width: 620px;
  padding: 10px 10px 16px;
  border-bottom: 1px dotted #7f7f7f;
}
.l-content .l-top-content .top-go-to-top {
  margin: 48px 0 10px;
  text-align: right;
}
.l-content .l-top-content .top-go-to-top a {
  color: #1c5094;
  text-decoration: underline;
}

.l-footer .wrap {
  background: #fff;
  width: 1040px;
  padding: 0 20px;
  margin: auto;
}
.l-footer .wrap .footer-menu-list {
  margin: 15px auto 0;
  width: 1040px;
  padding: 0 0 10px;
}
.l-footer .wrap .footer-menu-list ul {
  overflow: hidden;
  *zoom: 1;
  text-align: center;
  width: 635px;
  margin: auto;
}
.l-footer .wrap .footer-menu-list ul li {
  display: inline-block;
  padding: 0 0 0 20px;
  background: url("assets/img/layout/footer/footer_list.png") no-repeat;
  background-position: 0 7px;
  -webkit-background-size: 12px;
  background-size: 12px;
}
.l-footer .wrap .footer-menu-list ul li a {
  font-size: 12.14px;
  line-height: 30px;
  font-family: Meiryo;
  color: #292929;
  text-decoration: none;
}
.l-footer p {
  text-align: center;
  background: #1c5094;
  padding: 8px 0;
  font-size: 13.66px;
  line-height: 17.62px;
  color: #ffffff;
  font-family: Meiryo;
}
