/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*======================
BASE
=====================*/
/*======================
GENERAL
=====================*/
/* line 1, ../../sass/_general.scss */
.headline, .l-content .l-sidebar .contact-title {
  width: 260px;
  padding: 10px 0;
  font-weight: bold;
  font-family: Meiryo;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background: #000000;
  margin: 18px 0 7px;
}

/*======================
LAYOUT
=====================*/
/* line 1, ../../sass/_layout.scss */
.l-header {
  width: 1040px;
  padding: 0 20px;
  margin: auto;
}
/* line 6, ../../sass/_layout.scss */
.l-header .wrap .header-top-bar {
  font-family: Meiryo;
  font-size: 13.66px;
  line-height: 17.61px;
  color: #ffffff;
  background: #1C5194;
  padding: 7px 10px 6px 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 14, ../../sass/_layout.scss */
.l-header .wrap .header-top-bar p {
  float: right;
}
/* line 18, ../../sass/_layout.scss */
.l-header .wrap .header-top-banner {
  margin: 5px 0 13px;
  overflow: hidden;
  *zoom: 1;
}
/* line 21, ../../sass/_layout.scss */
.l-header .wrap .header-top-banner a {
  font-size: 0;
  vertical-align: bottom;
}
/* line 24, ../../sass/_layout.scss */
.l-header .wrap .header-top-banner a:nth-child(2) {
  margin: 0 15px 0 60px;
}
/* line 29, ../../sass/_layout.scss */
.l-header .wrap .header-flow {
  background: url("assets/img/layout/header/header_flow_bg.jpg");
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 1040px;
  padding: 4px 0;
  border: 1px solid #6098e2;
  overflow: hidden;
  *zoom: 1;
}
/* line 37, ../../sass/_layout.scss */
.l-header .wrap .header-flow ul li {
  float: left;
  position: relative;
}
/* line 40, ../../sass/_layout.scss */
.l-header .wrap .header-flow ul li div {
  padding: 0 5.5px;
  width: 249px;
}
/* line 44, ../../sass/_layout.scss */
.l-header .wrap .header-flow ul li .arrow {
  width: 25px;
  height: 28px;
  background: url("assets/img/layout/header/header_arrow.png") no-repeat;
  position: absolute;
  right: -23px;
  bottom: 10px;
  z-index: 2;
}

/* line 58, ../../sass/_layout.scss */
.l-banner {
  width: 1040px;
  margin: 20px auto;
}

/* line 62, ../../sass/_layout.scss */
.l-navi {
  width: 1040px;
  margin: 0 auto 20px;
}
/* line 65, ../../sass/_layout.scss */
.l-navi ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 67, ../../sass/_layout.scss */
.l-navi ul li {
  float: left;
}

/* line 72, ../../sass/_layout.scss */
.l-content {
  width: 1040px;
  margin: auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 76, ../../sass/_layout.scss */
.l-content .l-sidebar {
  width: 260px;
  float: left;
}
/* line 82, ../../sass/_layout.scss */
.l-content .l-sidebar .side-contact {
  padding: 10px 10px 7px 6px;
  border: 1px solid #999999;
}
/* line 86, ../../sass/_layout.scss */
.l-content .l-sidebar .side-contact .contact-detail .side-tel {
  display: block;
  margin: 5px 0 0 0;
}
/* line 90, ../../sass/_layout.scss */
.l-content .l-sidebar .side-contact .contact-detail .contact-button {
  margin: 10px 0 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 93, ../../sass/_layout.scss */
.l-content .l-sidebar .side-contact .contact-detail .contact-button img {
  float: left;
  margin: 0 4px 0 0;
}
/* line 96, ../../sass/_layout.scss */
.l-content .l-sidebar .side-contact .contact-detail .contact-button img:last-child {
  margin: 0;
}
/* line 101, ../../sass/_layout.scss */
.l-content .l-sidebar .side-contact .contact-detail .contact-text {
  font-size: 12px;
  line-height: 16px;
  color: #292929;
  background: #ececec;
  font-family: Meiryo;
  padding: 8px 0 12px 6px;
  margin: 7px 0 0;
}
/* line 112, ../../sass/_layout.scss */
.l-content .l-sidebar .side-flow {
  background: url("assets/img/layout/sidebar/side_step_bg.png");
  padding: 9px 10px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #6098e2;
  overflow: hidden;
  *zoom: 1;
}
/* line 118, ../../sass/_layout.scss */
.l-content .l-sidebar .side-flow img {
  float: left;
  margin: 1px 0 2px;
}
/* line 123, ../../sass/_layout.scss */
.l-content .l-sidebar .side-strengths {
  margin: 18px 0;
}
/* line 127, ../../sass/_layout.scss */
.l-content .l-sidebar .side-strengths ul li {
  border: 1px solid #999999;
  border-bottom: none;
  padding: 14px;
  text-indent: 24px;
  background: url("assets/img/layout/sidebar/side_list.png") no-repeat;
  background-position: 14px;
}
/* line 134, ../../sass/_layout.scss */
.l-content .l-sidebar .side-strengths ul li:first-child {
  background: #d4d4d4;
}
/* line 138, ../../sass/_layout.scss */
.l-content .l-sidebar .side-strengths ul li:last-child {
  border-bottom: 1px solid #999999;
}
/* line 141, ../../sass/_layout.scss */
.l-content .l-sidebar .side-strengths ul li a {
  font-family: Meiryo;
  font-size: 14px;
  line-height: 20px;
  color: #292929;
  text-decoration: none;
}
/* line 151, ../../sass/_layout.scss */
.l-content .l-sidebar .side-strong-point {
  margin: 0 0 18px;
  width: 260px;
  position: relative;
  height: 349px;
  background: url("assets/img/layout/sidebar/side_strong_point_bg.png");
}
/* line 157, ../../sass/_layout.scss */
.l-content .l-sidebar .side-strong-point a img {
  position: absolute;
  bottom: 9px;
  left: 8px;
}
/* line 164, ../../sass/_layout.scss */
.l-content .l-top-content {
  float: left;
}
/* line 166, ../../sass/_layout.scss */
.l-content .l-top-content .top-strength {
  margin: 31px 0 0;
}
/* line 169, ../../sass/_layout.scss */
.l-content .l-top-content .top-headline {
  border-bottom: 5px solid #1c5094;
}
/* line 172, ../../sass/_layout.scss */
.l-content .l-top-content .top-headline h2 {
  font-family: Meiryo;
  border: 1px solid #d8d8d8;
  text-indent: 14px;
  font-size: 18.21px;
  color: #1c5094;
  padding: 12px 0 15px 11px;
  background: url("assets/img/top/top_headline_bg.png") no-repeat;
  background-position: 8px center;
}
/* line 183, ../../sass/_layout.scss */
.l-content .l-top-content .top-trouble {
  width: 760px;
  height: 396px;
  background: url("assets/img/top/top_trouble.png");
}
/* line 187, ../../sass/_layout.scss */
.l-content .l-top-content .top-trouble ul {
  padding: 20px 0 0 13px;
}
/* line 189, ../../sass/_layout.scss */
.l-content .l-top-content .top-trouble ul li {
  font-family: Meiryo;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #154a91;
  padding: 0 0 0 30px;
  background: url("assets/img/top/top_trouble_icon.png") no-repeat;
}
/* line 197, ../../sass/_layout.scss */
.l-content .l-top-content .top-trouble ul li p {
  font-size: 14px;
  color: #292929;
}
